html {
  height: 100%;
  width: 100%;
}

body {
    margin:0;
    font-size: 14px;
    height: 100%;
    width: 100%;
    position: fixed;
    background: -webkit-linear-gradient(top, #ffebe6 0%,#ffff99 20%,#ebfafa 40%,#ccffcc 60%,#ffff99 80%,#ffebe6 100%);
    background-size: 1000%;
    -webkit-animation-name: rainbow;
    -webkit-animation-duration: 25s;
    -webkit-animation-timing-function: linear;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-direction: alternate;
    -webkit-animation-play-state: running;
}

@-webkit-keyframes rainbow {
    0% {background-position: left top;}
    100% {background-position: left bottom;}

}

/* Navigation */

.logo{
    float: left;
    padding: auto;
    margin-top:20px;
    margin-left: 30px;
    position:fixed;
}

/*Testing*/

.navbar {
    float:right;
}

.overlay {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    right: 0;
    background-position: center;
    background-size: cover;
    background-image: url(exercise/img/profile3.jpg);
    overflow-x: hidden;
    transition: 0.5s;
}

.overlay-content {
    position: relative;
    top: 25%;
    width: 100%;
    float: right;
    margin-right: 150px;
    text-align: center;
    color: #ECECEC;
    font-family: "Playfair Display",Serif;
    font-size: 24px;
}

.overlay-content p {
    width:450px;
    float: right;
    color:#ECECEC;
}

.inquiry, .email{
    font-size: 18px;
}

@media (max-width: 1024px){

	.overlay {
		height: 100%;
		width: 0;
		position: fixed;
		z-index: 1;
		top: 0;
		right: 0;
		background-position: center;
		background-size: cover;
		background-image: url(exercise/img/profile3.jpg);
		overflow-x: hidden;
		transition: 0.5s;
	}
	
	.overlay-content {
		position: relative;
		top: 25%;
		width: 100%;
		float: right;
		margin-right: 120px;
		text-align: center;
		color: #ECECEC;
		font-family: "Playfair Display",Serif;
		font-size: 24px;
	}
	
	.overlay-content p {
		width:450px;
		float: right;
		color:#ECECEC;
	}
	
	.inquiry, .email{
		font-size: 18px;
	}
}

@media (max-width: 812px){

	.overlay {
		height: 100%;
		width: 0;
		position: fixed;
		z-index: 1;
		top: 0;
		right: 0;
		background-position: center;
		background-size: cover;
		background-image: url(exercise/img/profile3.jpg);
		overflow-x: hidden;
		transition: 0.5s;
	}
	
	.overlay-content {
		position: relative;
		top: 25%;
		width: 100%;
		float: right;
		margin-right: 50px;
		text-align: center;
		color: #ECECEC;
		font-family: "Playfair Display",Serif;
		font-size: 18px;
	}
	
	.overlay-content p {
		width:320px;
		float: right;
		color:#ECECEC;
	}
	
	.inquiry, .email{
		font-size: 12px;
	}
}

@media (max-width: 768px){

    .overlay {
        height: 100%;
        width: 0;
        position: fixed;
        z-index: 1;
        top: 0;
        right: 0;
        background-position: center;
        background-size: cover;
        background-image: url(exercise/img/profile3b.jpg);
        overflow-x: hidden;
        transition: 0.5s;
    }

    .overlay-content {
       color: #ECECEC;
       font-family: "Playfair Display",Serif;
       font-size: 24px;
       position: relative;
       text-align: center;
       
    }

    .overlay-content p {
        margin-top: 450px; 
        width: 450px;
        float: left;
        left: 220px;
        color: #ECECEC;
        position: relative;
    }

    .inquiry, .email{
      font-size: 18px;
    }
}

@media (max-width: 667px){

	.overlay {
		height: 100%;
		width: 0;
		position: fixed;
		z-index: 1;
		top: 0;
		right: 0;
		background-position: center;
		background-size: cover;
		background-image: url(exercise/img/profile3.jpg);
		overflow-x: hidden;
		transition: 0.5s;
	}
	
	.overlay-content {
		position: relative;
		top: 25%;
		width: 100%;
		float: right;
		margin-right: 40px;
		text-align: center;
		color: #ECECEC;
		font-family: "Playfair Display",Serif;
		font-size: 16px;
	}
	
	.overlay-content p {
		width:300px;
		float: right;
		color:#ECECEC;
		left: 0;
		margin: 0;
	}
	
	.inquiry, .email{
		font-size: 12px;
	}
	
}

@media (max-width: 375px){

    .overlay {
        height: 100%;
        width: 0;
        position: fixed;
        z-index: 1;
        top: 0;
        right: 0;
        background-position: center;
        background-size: cover;
        background-image: url(exercise/img/profile3b.jpg);
        overflow-x: hidden;
        transition: 0.5s;
    }

    .overlay-content {
       color: #ECECEC;
       font-family: "Playfair Display",Serif;
       font-size: 18px;
       position: relative;
       text-align: center;
       
    }

    .overlay-content p {
        margin-top: 260px; 
        width: 330px;
        float: left;
        left: 60px;
        color: #ECECEC;
        position: relative;
    }

    .inquiry, .email{
      font-size: 14px;
    }
}

.overlay a {
    padding: 8px;
    text-decoration: none;
    font-size: 10px;
    color: #B0B0B0;
    display: block;
    transition: 0.5s;
    transition: all 0.3s ease-in-out;
}

.overlay a:hover, .overlay a:focus {
    color: #FFFFFF;
    transform: scale(1.1);
}

.overlay .closebtn {
    position: absolute;
    top: 30px;
    right: 30px;
    font-size: 20px;
}

#menu{
    position: fixed;
    margin-top:30px;
    right:30px;
    cursor:pointer;
}

.about {
    padding: 8px;
    text-decoration: none;
    font-size: 20px;
    color: #4D4D4D;
    display: block;
    transition: 0.5s;
    transition: all 0.3s ease-in-out;
}

.about:hover, .about:focus {
    color: #B7B7B7;
    transform: scale(1.1);
}

/* Gallery Preview */

section {
    margin-left: 0px;
    margin-top: 170px;
    height: auto;
    width: 100%;
    text-align: center;
    position: absolute;

}

.column {
  display:inline-block;
  width: 25%;
  height: 45%;
  padding: 10px;
}

/* The Modal (background) */

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  top: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0, 0);
}

/* Modal Content */
.modal-content {
  position: relative;
  background-color: #FFFFFF;
}

/* The Close Button */
.close {
  color: #000000;
  position: absolute;
  top: 30px;
  right: 50px;
  font-size: 35px;
  z-index: 1;
  transition: 0.5s;
  transition: all 0.3s ease-in-out;
}

.close:hover, .close:focus {
  opacity:0.5;
  text-decoration: none;
  cursor: pointer;
  z-index: 1;
  transform: scale(0.8);
}

.mySlides {
  display: none;
}

.mySlides img {
  width: 100%;
  height: 100%;
  background-size: cover;
  transition:fade 0.5s;
  -webkit-animation:fade 0.5s;
}

@keyframes fade
{
  0%   {opacity: 0}
  35% { opacity: 0.35}
  65% { opacity: 0.75}
  85% { opacity: 0.95}
  100% { opacity: 1}
}

.cursor {
  cursor: pointer;
}

/* Next & previous buttons */
.prev, .next {
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -50px;
  color: #000000;
  font-weight: bold;
  font-size: 20px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
  -webkit-user-select: none;
}

.prev {
  left: 35px;
}

.next {
  right: 35px;
}

.prev:hover, .next:hover {
  opacity: 0.5;
}

img {
  margin-bottom: -4px;
}

img.hover-shadow {
  transition: 0.3s;
}

.hover-shadow:hover {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

@media (max-width: 1024px){

  section {
    display: none;

  }

  .slider {
    width: 100%;
    height: 100%;
    position: fixed;
    z-index:-1;
  }

  .slide1,.slide2,.slide3,.slide4,.slide5,.slide6 {
    position: fixed;
    width: 100%;
    height: 100%;
    background-size: cover;
  }

  .slide1 {
    background: url(exercise/img/bg3.jpg)no-repeat center;
    background-size: cover;
    animation:fade infinite;
    -webkit-animation:fade 30s infinite;

  } 

  .slide2 {
    background: url(exercise/img/lw.gif)no-repeat center;
    background-size: cover;
    animation:fade2 infinite;
    -webkit-animation:fade2 30s infinite;
  }

  .slide3 {
    background: url(exercise/img/bg6.jpg)no-repeat center;
    background-size: cover;
    animation:fade3 infinite;
    -webkit-animation:fade3 30s infinite;
  }

  .slide4 {
    background: url(exercise/img/bg2.jpg)no-repeat center;
    background-size: cover;
    animation:fade4 infinite;
    -webkit-animation:fade4 30s infinite;
  }

  .slide5 {
    background: url(exercise/img/bg5a.jpg)no-repeat center;
    background-size: cover;
    animation:fade5 infinite;
    -webkit-animation:fade5 30s infinite;
  }

  .slide6 {
    background: url(exercise/img/bg7a.jpg)no-repeat center;
    background-size: cover;
    animation:fade6 infinite;
    -webkit-animation:fade6 30s infinite;
  }


  @keyframes fade
  {
    0%   {opacity: 1}
    20% { opacity: 0}
    37% { opacity: 0}
    56% { opacity: 0}
    70% { opacity: 0}
    87% { opacity: 0}
    100% { opacity: 1}
  }

  @keyframes fade2
  {
    0%   {opacity: 0}
    20% { opacity: 1}
    37% { opacity: 0}
    56% { opacity: 0}
    70% { opacity: 0}
    87% { opacity: 0}
    100% { opacity: 0}
  }

  @keyframes fade3
  {
    0%   {opacity: 0}
    20% { opacity: 0}
    37% { opacity: 1}
    56% { opacity: 0}
    70% { opacity: 0}
    87% { opacity: 0}
    100% { opacity: 0}
  }

  @keyframes fade4
  {
    0%   {opacity: 0}
    20% { opacity: 0}
    37% { opacity: 0}
    56% { opacity: 1}
    70% { opacity: 0}
    87% { opacity: 0}
    100% { opacity: 0}
  }

  @keyframes fade5
  {
    0%   {opacity: 0}
    20% { opacity: 0}
    37% { opacity: 0}
    56% { opacity: 0}
    70% { opacity: 1}
    87% { opacity: 0}
    100% { opacity: 0}
  }

  @keyframes fade6
  {
    0%   {opacity: 0}
    20% { opacity: 0}
    37% { opacity: 0}
    56% { opacity: 0}
    70% { opacity: 0}
    87% { opacity: 1}
    100% { opacity: 0}
  }

}

/* Footer Area */

#facebook {
    float:left;
    margin:5px;
}

#facebook:hover {
    float:left;
    margin:5px;
    opacity: 0.5;
}

#instagram {
    display: inline-block;
    margin:5px;
}

#instagram:hover {
    display: inline-block;
    margin:5px;
    opacity: 0.5;
}

footer{
    left:50px;
    position: fixed;
    bottom: 0;
    display: inline-block;
}

footer h6 {
    margin-top:5px;
}